//Common variables------------------------------------
$white: #ffffff;
$black: rgba(4, 4, 4, 0.86);
$grey: rgb(203, 203, 203);
//---------------------------Test variables---11px;------------------
$navtop-font-size:0.6875rem;
$navtop-font-color: #393939;
$navtop-bg-color: #f2f2f2;
// -------------------------Test variables ENDS--------------------
//--------------------------headerTitile variables----12px-------------
$site-title-ff:"KrinkesDecor";
$dropdown-padding: 0.5rem;
$dropdown-fontsize:0.75rem;
$header-title-nav-font-color: #000000;
$header-title-nav-font-size: 1rem;
//-----------------------headerTitile variables ends-------------------
//----------------24px-------Top Banner-------------------------------
$top-banner-content: 19px 59px  20px  31px;
$top-banner-content-ff:"Lato Bold",Arial,sans-serif;
$btn-font-size: 1.5rem;
$btn-color-bg:#f09d66;
$btn-ff:"Lato Bold",Arial,sans-serif;
$slider-control-color: #e0e0e0;