.footer{
  background-color: $footer-bgc;
  padding-top: 4.1875rem;
  position: relative;
}

.footer__container {
  line-height: $footer-line-height;
  display: flex;
  justify-content: space-around;
  position: relative;
  .footer__title {
    text-transform: uppercase;
    font-size: $footershop-title-fsz;
    color: $footershop-title-color;
    font-family: $footershop-title-ff;
  }
  .footer__links{
    padding: 3.125rem 0;
  }
  .links__text{
    text-transform: capitalize;
    font-size: $footershop-text-fsz;
    color: $footershop-text-color;
    font-family: $footershop-text-ff;
    &:hover{
      text-decoration: underline;
    }
  }

  &:after{
    content: '';
    display: block;
    min-width: 1290px;
    min-height: 2px;
    background-color: #363636;
    position: absolute;
    bottom: 0;
    left: 51%;
    transform: translateX(-50%);
  }
}


.contacts {
  line-height: $contacts-line-height;
  font-size: $contacts-fsz;
  color: $contacts-color;
  &__text {
    text-transform: uppercase;
    font-family:$contacts-text-ff;
    margin:0 0 2.8rem 0;
    &-small {
      font-family:$contacts-text-small-ff ;
      text-transform: none;
    }
  }
  &__icons {
    padding: 3.125rem 0;
    .icon__link {
      padding-right: 0.9rem;
    }
  }
}

.subscription{
  margin-right: -1.8rem;
  display: flex;
  justify-content: space-between;
  background-color: $subscribe-form-bgc;
  line-height: $subscribe-form-lineheight;
  font-family: $subscribe-form-ff;
  font-size: $search-input-fsz;
  border: 1px solid $subscribe-form-border;
  z-index: 7;

  &__form {
    border:none;
    background-color: $subscribe-form-bgc;
  }

  &__search {
    box-sizing: border-box;
    padding-left: 1rem;
    width: 100%;
    text-transform: capitalize;
    color: $white;
    outline: none;
    &:hover {
      background-color: $white;
      color: $black;

    }

  }
  &__search-btn {
    flex: 1;
    text-transform: uppercase;
    color:$search-btn-color ;
    background-color: $search-btn-bgc;
    padding: 0.6rem 1.3rem;
    margin: 0.125rem 0.1875rem 0.125rem 0;
    &:hover{
      padding: 0.7rem 1.4rem;
      background-color: lighten($search-btn-bgc, 20%);
    }
  }
}


.copyright{
  padding: 25px 0 50px 90px ;
  &__text{
    text-transform: capitalize;
    font-size: $footer-copyright-fsz;
    font-family: $footer-copyright-ff;
    color:$footer-copyright-color;
    line-height: $footer-copyright-line-height;
  }

  .pay-icons{
    &__item{
      padding: 0.5rem;
    }
  }
}


.to-top{
  width: 40px;
  height: 40px;
  background-color: #090909;
  color: white;
  position: absolute;
  bottom:16%;
  right: 10%;
  border-radius: 10%;
  &__image{
  @include position-center-top-left(50%, 50%);
  }

}