
//Section with nav, head-title of site, social icons, exchange
.header-title{
  color:$header-title-nav-font-color ;
  font-size: $header-title-nav-font-size;
}

.header-title{
@include flex-center;
  padding: 1.2rem;
  &__nav{
    flex:1;
  }
  &__text{
    font-size: 4.5rem;
    flex: 1;
    margin: 0 auto;
    text-align: center;
    font-family: $site-title-ff,Arial,sans-serif;
  }
}
.nav{
  &__burger{
    display: none;
  }
  &__menu{
    display: flex;
    align-items: center;
  }
  &__item{
    padding: 1rem;
    padding-right: 0;
    font-family: "PlayfairDisplay Regular", serif;
  }
}

//Social icons and Dropdown menu
.social {
  @include  flex-j-fe;
  flex: 1;
  align-items: center;
  position: relative;
  &__icons {
    display: flex;
    margin-right: 1rem;
  }
  a {
    padding: 0.4rem;

  }
  .dropdown {
    padding: $dropdown-padding;
    margin: 0 1rem 0 1.2rem;
    position: relative;
    text-transform: uppercase;
    background-color: $black;
    color: $white;
    cursor: pointer;
    font-size: $dropdown-fontsize;
    font-family: "Lato Bold", Arial,sans-serif;
    &__title {
      width: 101px;
      text-align: center;
      position: relative;
      outline: none;
      &:before {
        content: "";
        position: absolute;
        width: 15%;
        height: 30%;
        top: 7px;
        right: 0;
        background: url('../../assets/images/dropDownArrow.png') 95% 92% no-repeat;
      }
    }
    &__options {
      position: absolute;
      top: 100%;
      left: 0;
      width: 110px;
      text-align: center;
      letter-spacing: 2px;
      transform: scaleY(0);
      transition: transform 0.5s;
      transform-origin: top;
      z-index: 7;
      color: inherit;
      background-color: rgba(0, 0 , 0,  0.9);
      padding: $dropdown-options-padding;
      box-shadow: 0 2px 2px 2px rgba(0, 0 , 0,  0.4);
    }
    &__option {
      position: relative;
      &::after {
        display: block;
        content: "";
        background-color: $white;
        height: 1px;
        width: 0%;
        left:50%;
        position:absolute;
        transition: width .3s ease-in-out;
        transform:translateX(-50%);
        }
       &:hover::after {
         width: 80%;
        }
    }
    &.opened {
      .dropdown__options {
        transform: scaleY(1);
      }
      .dropdown__title::before {
        transform: rotate(90deg);
        top: 2px;
      }
    }

  }




}
