.support{
  color: $support-content-color;
  display: flex;
  justify-content: space-around ;
  align-items: center;
  margin: 2rem 1.5rem;
  position: relative;

  &_title{
    font-size: $support-title-fsz;
    font-family: $support-title-ff;
    display: block;
    text-transform: uppercase;
    }
  &_text{
    font-size: $support-text-fsz;
    font-family: $support-text-ff;
    display: block;
    text-transform: capitalize;
     }
  &>*{
    background-color:$bg-color-1;
    padding: 0.8rem;
    padding-right: 1.1rem;
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100px;
    }
  &__returns {
    background-color: $black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }

}
.image{
  padding-right: 0.9rem;
}
.support__shipping{
  display: flex;
  clip-path: polygon(0% 0%,50% 0%,65% 0, 85% 0%,95% 50%,85% 100%,0% 100%);
  .shipping__image{
    margin-left: 1.5rem;
  }
  .shipping__content{
    margin-left:1.8rem;
  }
}
.support__returns{
  margin-left:-35px;
  margin-right: -35px;
  clip-path:polygon(0% 0%, 50% 0, 100% 0, 85% 0%,100% 0%,90% 50%,100% 100%, 0% 100%, 10% 50%, 0% 0% );

}
.support__supporting{
  display: flex;
  justify-content: center;
  clip-path: polygon(0% 0%, 50% 0, 100% 0, 100% 100%,15% 100%, 5% 50%,15% 0%);

}