.top-banner{
  width: 100%;
  height: 100%;
  min-height: 692px;
  background-image: url("../../assets/images/slider-img.jpg") ;
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    display: block;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 100px solid $white;
    position: absolute;
    left: 55%;
    transform: translate(-59%);
  }
}

//--------------------------------Top Banner Content---------------------------
.wrapper{
  border:2px solid $white;
  //padding: 1.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%,-50%);
  padding: 0.4rem 0.3rem;

}
.top-banner_content{
  width: 100%;
  height: 100%;
  border:1px solid $grey;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  & span:nth-child(odd){
    color: $white;
  }
  & span:nth-child(even){
    color: $black;
  }
  span{
    display: block;
    text-transform: uppercase;
    text-align: center;
  }
  @each $font-siz in $top-banner-content {
    $i: index($top-banner-content, $font-siz);
    .content-#{$i} {
      font-size: $font-siz;
    }
  }
}
